@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes swing {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}


body {
    background: #ffffff;
}
h2.welcome {
    margin: 20px auto;
    text-align: center;
}
.container > h1 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #a1a1a1;
    line-height: 0.1em;
    margin: 37px 0;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #414141;
}
.container > h1 span {
    background:#fff;
    padding:0 10px;
}
article {
    display: inline-block;
    text-align: center;
    width: 30%;
    padding: 20px 0;
    box-shadow: 0 0 11px #cccccc;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: .8;
}
article:hover {
    -webkit-animation: swing 1s ease;
    animation: bounce 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    opacity: 1;
}
article.disabled {
    cursor: not-allowed;
    opacity: .3;
}
article .drink-image {
    width: 130px;
    height: 200px;
    margin: 0 auto;
}
article .drink-image.mus {
    background-image: url(/img/mus.png);
    background-size: 78% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
article .drink-image.bc {
    background-image: url(/img/bc.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
article .drink-image.am {
    background-image: url(/img/am.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 255px;
}
article .drink-image.sfn {
    background-image: url(/img/sfn.png);
    background-size: 78% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
article .drink-image.fh {
    background-image: url(/img/fh.png);
    background-size: 78% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 160px;
}
article .drink-image.cf {
    background-image: url(/img/cf.png);
    background-size: 78% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 150px;
}
article h2 {
    font-size: 18px;
    margin: 15px 0;
}
article h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0;
}
article .qty {
    margin: 15px;
}
article .qty input {
    width: 50px;
    border: 1px solid #dfdfdf;
    padding-left: 10px;
    border-radius: 10px;
    margin-left: 10px;
}
article .qty input:focus {
    outline: 0;
}
article button {
    padding: 8px 10px;
    border: 0;
    border-radius: 10px;
    background: #484848;
    color: white;
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: 1px;
    font-weight: bold;
}
article button:focus {
    outline: 0;
}
article button:hover {
    background: #000;
}
article.disabled button {
    pointer-events: none;
}
#chart {
    position:fixed;
    top: 80%;
    right: 2%;
    background: #ffffff;
    border: 3px solid #d2d2d2;
    width: 300px;
    box-shadow: 0 1px 6px #6b6b6b;
}
#chart h1 {
    padding: 5px 10px;
    background: #cccccc;
    font-size: 20px;
    font-weight: bold;
    cursor: move;
}
#chart .content {
    padding: 0 10px 10px 10px;
}
#chart .content strong {
    font-size: 1.5em;
}
.maxedout-msg, .warning-nan {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #ffd1d1;
    border: 1px solid red;
    border-radius: 10px;
    width: 400px;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
    transition: all .3s linear;
}
.warning-nan {
    display: none;
}
.warning-nan.warning {
    display: block;
}